<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container home-container">
        <div class="logo-overlay">
            <h1>學生權益案件反映系統</h1>
            <h3>歡迎使用逢甲大學學生會學生權益案件反映系統！</h3>
            <p>在閱讀以下個資法保護聲明後，請確認您同意此份聲明再進入系統。</p>
            <ul>
                <li>逢甲大學學生會（以下簡稱本會）為保護您的個人資料，依據個人資料保護法規定，於提供良好服務及執行職務或業務之必要範圍內搜集、處理及利用您的個人資料。</li>
                <li>本會將以您所提供的個人資料確認您的身份、與您進行連絡，以及其他隱私權保護政策規範之使用方式。</li>
                <li>非在您同意下，本會不會將您的資料提供於本會外使用，您對於本會保有您的個人資料部分，日後仍得享有下列權利：</li>
                <ul>
                    <li>一、得向本會查詢、請求閱覽、請求製給複製本，而本會依法得酌收必要成本費用。</li>
                    <li>二、得向本會請求補充或更正；惟依法您應為適當之釋明。</li>
                    <li>三、得向本會請求停止蒐集、處理或利用及請求刪除您的個人資料。</li>
                </ul>
            </ul>
            <div class="button-container">
                <a href="/submissions/submit" class="button">案件提交</a>
                <a href="/submissions/status" class="button">查詢處理進度</a>
            </div>
        </div>
    </div>
</body>
</html>
